.form {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 10px solid #eee;
}

.form__writeTask {
  flex-basis: 83%;
  padding: 1%;
  border: 2px solid #eee;
}

.form__submitTask {
  flex-basis: 15%;
  padding: 1%;
  border: none;
  min-width: 120px;
  margin-left: 20px;
  background-color: #00f;
  color: #fff;
}

.form__submitTask:hover {
  cursor: pointer;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

@media (width <=576px) {
  .form {
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    margin-bottom: 20px;
  }

  .form__writeTask {
    flex-basis: 100%;
    margin-bottom: 20px;
    min-height: 50px;
  }

  .form__submitTask {
    flex-basis: 100%;
    min-height: 50px;
    max-width: 100px;
  }
}