.list {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background-color: #fff;
  max-width: 1024px;
  margin: 5px;
}

.list__toDo {
  padding: 5px;
}

.list__content {
  display: grid;
  grid-template-columns: 35px 4fr 35px;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  list-style: none;
  color: #666;
  border-bottom: 1px solid #000;
}

.list__content--done {
  display: grid;
  grid-template-columns: 35px 4fr 35px;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  list-style: none;
  color: #666;
  text-decoration: line-through;
  border-bottom: 1px solid #000;
}

.list__doneButton {
  height: 35px;
  background-color: #080;
  color: #080;
  font-size: 30px;
  border-style: none;
}

.list__doneButton--checked {
  height: 35px;
  background-color: #080;
  color: #fff;
  font-size: 30px;
  border-style: none;
}

.list__removeButton {
  height: 35px;
  background-color: #f00;
  color: #fff;
  font-size: 25px;
  border-style: none;
}